:root {
  --slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
  --slightly-transparent-white: hsla(0, 0%, 100%, 0.6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

body {
  font-family: "Inter", sans-serif;
  background-color:#090b1a;
}

p {
  font-size: 15px;
  line-height: 1.6;
}

.container {
  background-color: #1b1938;
  color: #ffffff;
  margin: 50px 20px;
  padding: 0 0 20px;
  border-radius: 10px;
  text-align: center;
}

.container .picture {
  background: url("../images/image-header-mobile.jpg") no-repeat center/cover;
  height: 400px;
  border-radius: 10px 10px 0 0;
}

.container .picture .overlay {
  background-color: #aa5cdb;
  height: 400px;
  border-radius: 10px 10px 0 0;
  opacity: 0.5;
}

.container .card h1 {
  margin: 30px 0 20px;
  padding: 0 20px;
  line-height: 1.3;
  font-family: "Lexend Deca", sans-serif;
}

.container .card h1 span {
  color: #aa5cdb;
}

.container .card p {
  padding: 0 20px;
  margin-bottom: 30px;
}

.container .card ul li {
  margin-bottom: 20px;
}

.container .card ul li span {
  display: block;
  text-transform: lowercase;
  font-weight: 700;
  font-family: "Lexend Deca", sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: #ffffff;
  padding-bottom: 20px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    padding: 0;
    text-align: left;
  }

  .container .picture {
    background: url("../images/image-header-desktop.jpg") no-repeat center/cover;
    min-width: 50%;
    border-radius: 0 10px 10px 0;
  }

  .container .picture .overlay {
    background-color: #aa5cdb;
    height: 400px;
    border-radius: 0 10px 10px 0;
    opacity: 0.5;
  }

  .container .card ul {
    padding-left: 20px;
    display: flex;
  }
  .container .card ul li {
    margin-right: 30px;
    font-size: 13px;
  }

  .container .card ul li span {
    display: block;
    text-transform: lowercase;
    font-weight: 700;
    font-family: "Lexend Deca", sans-serif;
    font-size: 24px;
    margin-bottom: 3px;
  }
}

@media (min-width: 992px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  .container .card:nth-child(2) {
    padding: 0 30px;
  }

  .container .card p {
    margin-bottom: 50px;
  }
}
